@import "normalize.pcss";
@import "ui.pcss";
@import "mixins.pcss";
@import "global.pcss";

@import "view/components/header/index.pcss";
@import "view/components/footer/index.pcss";
@import "view/containers/layout/index.pcss";


#root {

}