.home__title {
    margin: 25px 0;
    font-size: 36px;
    font-weight: 300;
    color: #3c3c3b;
    text-align: center;
}

.home__top {
    position: relative;
}

@media only screen and (max-width: 620px) {
    .home__title {
        margin-bottom: 80px;
    }
}